In [3]:
# ANY (Qualquer, qualquer coisa)


resposta = any([False, True, False, False, False])
display(resposta)

True

In [4]:
nomes = ['Arthur', '','','','','']

resposta = any(nomes)
display(resposta)

True

In [6]:
numeros = [2, 32, 31, 54]

resultado = any(num % 2 != 0 for num in numeros)

display(resultado)

True

In [33]:
tabuleiro = ['a',1,2,3,'a',5,6,7,'a']


venceu = False

combinacoes_vitoria = [
    (0, 1, 2), (3,4,5), (6,7,8), #linhas
    (0,3,6), (1,4,7), (2,5,8), #colunas
    (0,4,8), (2,4,6)  #diagramas
]


venceu = any(tabuleiro [a] == tabuleiro[b] == tabuleiro[c] for a, b, c in combinacoes_vitoria)


print(venceu)

True

In [40]:
lista_nomes = [
    ['arthur', 'amanda', 'ana'],
    ['Pedro', 'Paulo', 'Pietro',], 
    ['renan', 'roberta', 'ricardo']

]

# print(lista_numerica[1][2])
for nome1,nome2, nome3 in lista_nomes: 
    print(nome1,nome2, nome3)

arthur amanda ana
Pedro Paulo Pietro
renan roberta ricardo

In [42]:
lista = [False, False, False]

resposta= all(lista)

print(resposta)

False

In [48]:
lista_frutas = ['Laranja', 'morango', 'uva']

copia_lista = lista_frutas[:] #faz uma copia dos valores de inicio ao fim. Vai printar somente uma lista a outra vai contiunar igual

print(lista_frutas)
print(copia_lista)

lista_frutas[1] = 'Kiwi'

print(lista_frutas)
print(copia_lista)

['Laranja', 'morango', 'uva']
['Laranja', 'morango', 'uva']
['Laranja', 'Kiwi', 'uva']
['Laranja', 'morango', 'uva']

In [63]:
try: 
    numero1 = int(input('Digite um número: '))
    numero2 = int(input('Digite um número: '))
    
    print('O resultado é:', numero1 / numero2)

except ValueError:
    print(ValueError)

except ZeroDivisionError: 
    print(ZeroDivisionError)

print('Estou depois do try')

Digite um número:  120
Digite um número:  0

<class 'ZeroDivisionError'>
Estou depois do try